@media screen and (max-width: 720px) {

    /* ====================Styling====================== */
    
    .myCounter{
        display: table;
        background-color: white;
        height: 100%;
        width: 100%;
        border-style: solid;
    }
}

