@media screen and (max-width: 720px) {

    /* ====================Styling====================== */
    
    .IGPic{
        width: 31%;
    }
    
    .imageText span{
        font-size: 3vw;;
    }
    
}

