/* =========================FONTS=========================== */
@font-face {
    font-family: 'futuraMediumCondensed';
    src: url('../fonts/futura medium condensed bt.ttf');
}

@font-face {
    font-family: 'futuraThin';
    src: url('../fonts/Futura Thin.ttf');
}

@font-face {
    font-family: 'futuraLight';
    src: url('../fonts/Futura light bt.ttf');
}

@font-face {
    font-family: 'futuraMedium';
    src: url('../fonts/Futura medium bt.ttf');
}

/* ======================FOOTER====================== */

footer > #pcView > .container > .left-side > a{
    padding: 0.35vw 0 0.35vw 0;
}

footer > #pcView > .container > .left-side > a:hover{
    color: #3a3a3c !important;
}

footer > #pcView > .container > .right-side > p{
    margin: 0;
    padding: 0.35vw 0 0.35vw 0;
}


/* =======================MODAL====================== */
.modal-header{
    border: 0;
    padding-bottom: 0;
}

.modal-body{
    padding-top: 0;
    margin: auto;
    width: 54%;
}

.modal-dialog {
    width: 40.2%;
    max-width: unset;
    margin: auto;
  }

.modal-content {
    border-radius: 2vw;
    background-color: #0F75BD ;
}

/* ========================PreLoad======================= */
.loader_bg{
    position: fixed;
    z-index: 999999;
    background-color: rgba(242, 242, 244, 50%);
    /* opacity: 0; */
    /* display: none; */
    width: 100%;
    height: 100%;
}

.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    position: absolute;
    top: calc(50vh - 3.5vw);
    left: calc(50vw - 3.5vw);
}


/* ==================Button============ */

.myBtn{
    border: 0;
    border-radius: 2vw;
    background-color: #F9AE42;
    color: white;
    font-family: 'futuraMedium';
    margin-top: 2vh;
    font-size: 0.8vw;
    font-weight: lighter;
    width: 13vw;
    padding: 0.8vw 0;
    letter-spacing: 0;
}

.myBtn:hover{
    background-color: #ED4258;
    color: white;
}

.test{
    height: 100%;
}

/* ===================Carousel=============== */
.indicator{
    height: 0.6vw !important;
    width: 0.6vw !important;
    border-top: unset !important;
    border-bottom: unset !important;
    border-radius: 2vw !important;
    margin: 0 0.2vw !important;
    background-color: #EFEFEF;
}

.indicator.active{
    background-color: #0f75bd;
}

.carousel-control-prev, .carousel-control-next{
    top: unset;
    bottom: 0.5vw;
    width: fit-content;
    margin:0 0.5vw;
}

.carousel-control-prev{
    left: unset;
    right: 50%;
}

.carousel-control-next{
    right: unset;
    left: 50%;
}

.carousel-indicators{
    bottom: 2vw;
}

.carousel {
    /* any dimensions are fine, it can be responsive with max-width */
    height: 30vw;
  }

.carousel-inner {
/* make sure your .items will get correct height */
height: 100%;
}

.carousel-item {
background-size: cover;
background-position: 50% 50%;
width: 100%;
height: 100%;
}

.carousel-item img {
visibility: hidden;
}

/* ====================BootStrap==================== */
.container{
    width: 85%;
    max-width: none;
}

.pagination{
    width: fit-content;
    margin-left: auto;
}

/* ===========================Pagination=================== */
.paginationIndicator{
    width: 0.6vw !important;
    height: 0.6vw !important;
    border-top: unset !important;
    border-bottom: unset !important;
    border-radius: 1vw !important;
    margin: 0 0.2vw !important;
    border: none;
    outline:none;
    padding: 0;
    background-color: #EFEFEF;
}

.quizPaginationIndicator{
    height: 0.3vw;
    width: 85%;
    border-top: unset !important;
    border-bottom: unset !important;
    margin: auto 0.2vw !important;
    border: none;
    outline:none;
    padding: 0;
    background-color: #EFEFEF;
}

.quizPaginationIndicator:focus {
    outline: none;
    border: none;
}

.paginationIndicator:focus {
    outline: none;
    border: none;
}

li.active>.paginationIndicator{
    background-color: #0E5A89;
}

li.active>.quizPaginationIndicator{
    background-color: #0E5A89;
}
/* =========================ShareThis=================== */

.st-custom-button[data-network] {
    display: table;
    height: 3vw;
    width: 3vw;
    cursor: pointer;
    text-align: center;
    border-radius: 2vw;
    margin-bottom: 0.7vw;
}

.st-custom-button[data-network]:hover {
    height: 3.2vw;
    width: 3.2vw;
}

.socialLogo{
    color: white;
    font-size: 1.5vw;
    vertical-align: middle;
    display: table-cell;
}

.facebookButton{
    background-color: #45639e;
}

.whatsAppButton{
    background-color: #075e55;
}

/* ======================Scroll=================== */
.scroll{
    height: 32vw;
    overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 0.4vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #dedfe1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9a9b9f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* =========================align IG Pic===================== */
.IGPicContainer {
    font-size: 0;
    line-height: 0;
    text-align: justify;
}
.IGPicContainer:after {
    content: '';
    width: 100%;
    display: inline-block;
}
.IGPic {
    background: white;
    font-size: 14px;
    line-height: normal;
    /* padding: 0.5vw; */
    display: inline-block;
    width: 23%;
}

.IGDelete{
    font-size: 14px;
    line-height: normal;
    padding: 0.5vw;
    display: inline-block;
    width: 23%;
}

/* =========================FontLib======================= */

.Heading1{
    font-size: 2.5vw;
    font-family: 'Chelsea Market', cursive;
}

.Heading2{
    font-size: 1.88vw;
    font-family: 'Chelsea Market', cursive;
}

.Heading3{
    font-size: 1.25vw;
    font-family: 'Chelsea Market', cursive;
}

.Paragraph1{
    font-size: 1.125vw;
    font-family: 'futuraLight';
}

.Paragraph2{
    font-size: 0.925vw;
    font-family: 'futuraLight';
}

.Title1{
    font-size: 1.565vw;
    font-family: 'futuraMediumCondensed';
}

.Title2{
    font-size: 1.25vw;
    font-family: 'futuraMediumCondensed';
}

.Description1{
    font-size: 1.1vw;
    font-family: 'futuraThin';
}

.Description2{
    font-size: 0.855vw;
    font-family: 'futuraThin';
}

.Date1{
    font-size: 0.936vw;
    font-family: 'futuraThin';
}

.Date2{
    font-size: 0.625vw;
    font-family: 'futuraThin';
}

.WebLink{
    font-size: 0.938vw;
    font-family: 'futuraMediumCondensed';
}

/* ============================Admin UTIL==================== */

.AdminBtn{
    border: 0;
    border-radius: 0.5vw;
    font-family: 'futuraMedium';
    text-decoration:none;
    margin-top: 2vh;
    font-size: 0.8vw;
    font-weight: lighter;
    width: 13vw;
    padding: 0.5vw;
    letter-spacing: 0;
    width: fit-content;
}

.DeleteBtn{
    background-color: rgb(243, 79, 50);
    color: white;
}

.DeleteBtn:hover{
    background-color: rgb(216, 53, 25);
    color: white;
    transition: 0.2s;
}

.AddBtn{
    background-color: rgb(48, 204, 100);
    color: white;
}

.AddBtn:hover{
    background-color: rgb(29, 189, 82);
    color: white;
    transition: 0.2s;
}

.EditBtn{
    background-color: rgb(236, 177, 68);
    color: black;
}

.EditBtn:hover{
    background-color: rgb(219, 152, 28);
    color: black;
    transition: 0.2s;
}

.DisabledBtn{
    opacity: 0.65;
    pointer-events: none;
}

/* ==========================UTIL====================== */

.shadow{
    -webkit-box-shadow: 0.5vw 0.5vw 0.35vw 0 rgba(0,0,0,0.1) !important;
    -moz-box-shadow: 0.5vw 0.5vw 0.35vw 0 rgba(0,0,0,0.1)  !important;
    box-shadow: 0.5vw 0.5vw 0.35vw 0 rgba(0,0,0,0.1)  !important;
}

.myContainer{
    width: 88.5%;
    margin: auto;
}

.dirButton{
    color: #0E5A89;
}

.dirButton:hover{
    color: #0F75BD ;
}

.dirButton.disabled{
    color: #616f7ab4;
}

.floating-box{
    background-color: rgba(255, 255, 255, 88%);
    border-radius: 1.5vw;
    overflow: hidden;
}

.floating-box-content{
    width: 34.65vw;
    margin: auto;
    padding: 2vw 0;
}

.floating-box-content-right{
    width:26vw;
    padding: 2vw 0;
}
.floating-box-content-left{
    width:26vw;
    padding: 2vw 0;
    margin-left: auto;
}

.myCounter{
    display: table;
    background-color: white;
    width: 3vw;
    height: 4vw;
    border-top: 0.2vh;
    border-right: 0.1vh;
    border-bottom: 0.2vh;
    border-left: 0.1vh;
    border-style: solid;
}

/* ======================DropDownNav================== */

.myDropDownList{
    display: none;
    position: absolute;
}

.myDropDownList:hover{
    display: block;
}

.myDropDown:hover ~.myDropDownList{
    display: block;
}

.subNav{
    color: white !important;
}

.subNav:hover{
    color: #FCEEA9 !important;
    transition: .5s;
}



.image
{
position: relative; /* To help the image + text element to get along with the rest of the page*/
width: 100%; /* for IE 6 */
}
.imageText
{
position: absolute; /* To place the text on the image*/
bottom: 2vw; /* The exact location of the text from the top of the image*/
left: 50%; /* Other beautification stuff */
transform: translateX(-50%);
}
/* Coloring time */
.imageText span /* decorating the text within the span tag */
{
color: black;
font-family: 'futuraLight';
font-style: italic;
font-size: 1.25vw;
background: rgb(255, 255, 255); /* fallback color */
background: rgba(255, 255, 255, 0.5);
padding: 0 0.5vw;
}/* to pad the background color of text to make it look more elegant */


#mobileView{
    display: none !important;
}

@media screen and (min-width: 721px) {
    .navbar-toggler{
        display: none;
    }

    .navbar-expand-md .navbar-collapse{
        display: flex !important;
        flex-basis: auto !important;
    }

    .navbar-expand-md .navbar-nav{
        flex-direction: row;
    }
}


@media screen and (max-width: 720px) {
    
    #pcView{
        display: none !important;
    }

    #mobileView{
        display: block !important;
    }

    .navbar-nav{
        flex-direction: column;
    }

    .myContainer{
        width: 94%;
    }

    .floating-box{
        border-radius: 5vw;
    }

    .floating-box-content{
        width: 81.7%;
    }

    .myBtn{
        width: 29.3vw;
        padding: 2.4vw 0;
        font-size: 2.3vw;
        border-radius: 5vw;
    }

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
        background-color: white !important;
    }

    .hamburger:focus {
        outline: none;
        border: none;
    }

    .paginationIndicator{
        width: 2vw !important;
        height: 2vw !important;
        border-radius: 5vw !important;
        margin: 0 0.5vw !important;
    }

    .mobileCollapse{
        
        background-color: #0F75BD;
        position: fixed;
        z-index: 20;
        width: 40%;
        /* margin-left: auto; */
        right: 0;
        border-radius: 0 0 4vw 4vw;
        
    }

    .loader{
        width: 20vw;
        height: 20vw;
        top: calc(50vh - 10vw);
        left: calc(50vw - 10vw);
    }

    /* ======================DropDownNav================== */


        .subNav{
            color: white !important;
        }

        .subNav:hover{
            color: #FCEEA9 !important;
            transition: .5s;
        }


    /* =============================ShareThis========================= */
    .st-custom-button[data-network] {
        height: 7vw;
        width: 7vw;
        border-radius: 5vw;;
    }
    
    .st-custom-button[data-network]:hover {
        height: 7.4vw;
        width: 7.4vw;
    }
    
    .socialLogo{
        font-size: 4vw;
    }

    /* =======================MODAL====================== */
    .modal-dialog {
        width: 94%;
    }

    .modal-body{
        padding-bottom: 6vw;
    }

    /* ==========================FONT======================= */
    
    .Heading1{
        font-size: 6.6vw;
    }

    .Heading2{
        font-size: 4.15vw;
    }
    
    .Heading3{
        font-size: 3.2vw;
    }
    
    .Description1{
        font-size: 3vw;
    }

    .Description2{
        font-size: 2vw;
    }
    
    .Paragraph1{
        font-size: 3vw;
    }

    .Paragraph2{
        font-size: 2.5vw;
    }
    
    .Title1{
        font-size: 4vw;
    }

    .Title2{
        font-size: 3.3vw;
    }
    
    .Date1{
        font-size: 2.5vw;
    }

    .Date2{
        font-size: 1.67vw;
    }

    .WebLink{
        font-size: 2.4vw;
    }


    /* ====================footer=================== */
    footer > #mobileView > .container  > .left-side > a{
        padding: 0.5vw 0 0.5vw 0;
    }
    
    footer > #mobileView > .container > .left-side > a:hover{
        color: #3a3a3c !important;
    }
    
    footer > #mobileView > .container > .right-side > p{
        margin: 0;
        padding: 0.5vw 0 0.5vw 0;
    }
}