<template>
<div>
    <div id="pcView">
        <div v-if="loaded" class="loadContainer" style="height: 100%;">
            <div style="margin-left: 0.2vw;">
                <button :style= "[this.category == 'Semua' ? {'color': '#0f75bd'} : {'color': 'black'}]" class="btn btn-link" style="font-size: 1vw; padding-left: 0; text-decoration: none; font-family: 'futuraMedium'; font-weight:" @click="changeCategory('Semua')">Semua</button>
                <button :style= "[this.category == 'Artikel' ? {'color': '#0f75bd'} : {'color': 'black'}]" class="btn btn-link" style="font-size: 1vw; padding-left: 0; text-decoration: none;font-family: 'futuraMedium';" @click="changeCategory('Artikel')">Artikel</button>
                <button :style= "[this.category == 'Aksi' ? {'color': '#0f75bd'} : {'color': 'black'}]" class="btn btn-link" style="font-size: 1vw; padding-left: 0; text-decoration: none;font-family: 'futuraMedium';" @click="changeCategory('Aksi')">Aksi</button>
            </div>

            <div style="overflow: hidden;">
                <div class="fadeTest" v-for="blog in pagination.blogs.data" :key="blog.id" style="width: 33.3%; padding-bottom: 2vw; background-color: transparent; margin-top: 0.7vw; display: inline-block; vertical-align: top;">
                    <div style=" width: 100%;display:block; margin:auto; vertical-align: top;">
                        <div style="width: 50%; display: inline-block; vertical-align: top; margin: auto;">
                            <div style="width: 95%; margin: auto;">
                                <a :href="'/blog/show/'+blog.id" style="text-decoration: none;">
                                    <div class="responsive-image-wide-vue" style="overflow: hidden;">
                                        <img v-bind:src="'rangkulmereka/storage/app/public/'+blog.image" style="width: 100%; height: 100%">
                                    </div>
                                </a>
                            </div>
                        </div><div style="width: 50%; display: inline-block; margin: auto;">
                            <div style="width: 95%; margin: auto;">
                                <a :href="'/blog/show/'+blog.id" style="text-decoration: none; color: black;">
                                    <h1 class="Title2" style="margin-bottom: 0.2vw;">{{ blog.title | fm-truncate(25)}}</h1>
                                </a>
                                <p class="Description2" style="margin-bottom: 0.8vw;text-align: justify;text-justify: inter-word; color: #404041;">{{ blog.desc | fm-truncate(125)}}</p>
                                <div v-if="pagination.isAdmin == true">
                                    <p class="Date2" style="color: #404041;margin: 0; display: inline-block; width: 40%">{{ blog.created_at | fm-date()}}</p><div style="display: inline-block; width: 60%; text-align: right;">
                                        <a class="AdminBtn EditBtn" :href="'/blog/edit/'+blog.id">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a class="AdminBtn DeleteBtn" :href="'/blog/delete/'+blog.id">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                                <div v-else>
                                    <p class="Date2" style="color: #404041;margin: 0;">{{ blog.created_at | fm-date()}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <ul class="pagination" style="margin: auto; ">
                    <li v-if="pagination.blogs.current_page == 1">
                        <a href="javascript:void(0)" class="btn btn-link dirButton disabled" style="font-size: 2vw;" aria-label="Previous" v-on:click.prevent="changePage(pagination.blogs.current_page - 1, 'left')">
                            <img src="storage/img/asset/LeftIconDisabled.png" style="height: 2vw;">
                        </a>
                    </li>
                    <li v-if="pagination.blogs.current_page > 1">
                        <a href="javascript:void(0)" class="btn btn-link dirButton" style="font-size: 2vw;" aria-label="Previous" v-on:click.prevent="changePage(pagination.blogs.current_page - 1, 'left')">
                            <img src="storage/img/asset/LeftIcon.png" style="height: 2vw;">
                        </a>
                    </li>
                    <li v-if="pagination.blogs.current_page < pagination.blogs.last_page">
                        <a href="javascript:void(0)" class="btn btn-link dirButton" style="font-size: 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.blogs.current_page + 1, 'right')">
                            <img src="storage/img/asset/RightIcon.png" style="height: 2vw;">
                        </a>
                    </li>
                    <li v-if="pagination.blogs.current_page == pagination.blogs.last_page">
                        <a href="javascript:void(0)" class="btn btn-link dirButton disabled" style="font-size: 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.blogs.current_page + 1, 'right')">
                            <img src="storage/img/asset/RightIconDisabled.png" style="height: 2vw;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div v-else class="loaderContainer">

        </div>
    </div>

    <div id="mobileView">
        <div v-if="loaded" class="loadContainer" style="height: 100%;">
            <div style="margin-left: 0.2vw; margin-bottom: 2vw;">
                <button :style= "[this.category == 'Semua' ? {'color': '#0f75bd'} : {'color': 'black'}]" class="btn btn-link" style="font-size: 2.37vw; padding-left: 0; text-decoration: none; font-family: 'futuraMedium'; font-weight:" @click="changeCategory('Semua')">Semua</button>
                <button :style= "[this.category == 'Artikel' ? {'color': '#0f75bd'} : {'color': 'black'}]" class="btn btn-link" style="font-size: 2.37vw; padding-left: 0; text-decoration: none;font-family: 'futuraMedium';" @click="changeCategory('Artikel')">Artikel</button>
                <button :style= "[this.category == 'Aksi' ? {'color': '#0f75bd'} : {'color': 'black'}]" class="btn btn-link" style="font-size: 2.37vw; padding-left: 0; text-decoration: none;font-family: 'futuraMedium';" @click="changeCategory('Aksi')">Aksi</button>
            </div>
            <div style="overflow: hidden;">
                <div class="scroll">
                    <div class="fadeTest"  v-for="blog in pagination.blogs.data" :key="blog.id" style="padding-bottom: 2vw; background-color: transparent; margin-top: 0.7vw; display: inline-block;">
                        <div style=" width: 100%; display:block; margin:auto; vertical-align: top;">
                            <div style="width: 50%; display: inline-block; vertical-align: top; margin: auto;">
                                <div>
                                    <a :href="'/blog/show/'+blog.id" style="text-decoration: none;">
                                        <div class="responsive-image-wide" style="overflow: hidden;">
                                            <img v-bind:src="'rangkulmereka/storage/app/public/'+blog.image" style="width: 100%; height: 100%">
                                        </div>
                                    </a>
                                </div>
                            </div><div style="width: 50%; display: inline-block; margin: auto;">
                                <div style="width: 90%; margin: auto;">
                                    <a :href="'/blog/show/'+blog.id" style="text-decoration: none; color: black;">
                                        <h1 class="Title2" style="margin-bottom: 2vw;">
                                            {{ blog.title | fm-truncate(40)}}
                                        </h1>
                                    </a>
                                    <p class="Description2" style="margin-bottom: 0.5vw;text-align: justify;text-justify: inter-word; color: #404041; line-height:1.2; ">
                                        {{ blog.desc | fm-truncate(150)}}
                                    </p>
                                    <p class="Date2" style="color: #404041;margin: 0;">
                                        {{ blog.created_at | fm-date()}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <ul class="pagination" style="margin: auto; ">
                    <li v-if="pagination.blogs.current_page == 1">
                        <a href="javascript:void(0)" class="btn btn-link dirButton disabled" style="font-size: 8vw;" aria-label="Previous" v-on:click.prevent="changePage(pagination.blogs.current_page - 1, 'left')">
                            <img src="storage/img/asset/LeftIconDisabled.png" style="height: 8vw;">
                        </a>
                    </li>
                    <li v-if="pagination.blogs.current_page > 1">
                        <a href="javascript:void(0)" class="btn btn-link dirButton" style="font-size: 8vw;" aria-label="Previous" v-on:click.prevent="changePage(pagination.blogs.current_page - 1, 'left')">
                            <img src="storage/img/asset/LeftIcon.png" style="height: 8vw;">
                        </a>
                    </li>
                    <li v-if="pagination.blogs.current_page < pagination.blogs.last_page">
                        <a href="javascript:void(0)" class="btn btn-link dirButton" style="font-size: 8vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.blogs.current_page + 1, 'right')">
                            <img src="storage/img/asset/RightIcon.png" style="height: 8vw;">
                        </a>
                    </li>
                    <li v-if="pagination.blogs.current_page == pagination.blogs.last_page">
                        <a href="javascript:void(0)" class="btn btn-link dirButton disabled" style="font-size: 8vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.blogs.current_page + 1, 'right')">
                            <img src="storage/img/asset/RightIconDisabled.png" style="height: 8vw;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div v-else class="loaderContainer">

        </div>
    </div>
</div>
</template>

<script>
    import axios from 'axios';
    axios.defaults.headers.common = {
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    };

    export default{
        props: {
            pagination: {
                type: Object,
                required: true
            },
            offset: {
                type: Number,
                default: 4
            },
        },
        data() {
            return{
                dir: 'center',
                category: 'Semua',
                loaded: false
            }
        },
        created(){
            this.category = 'Semua';
            this.getBlogs();
        },
        mounted(){
            window.addEventListener('resize', () => {
                this.responsiveImage();
            });
        },
        computed: {
            pagesNumber() {
                if (!this.pagination.blogs.to) {
                return [];
                }
                let from = this.pagination.blogs.current_page - this.offset;
                if (from < 1) {
                from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.blogs.last_page) {
                to = this.pagination.blogs.last_page;
                }
                let pagesArray = [];
                for (let page = from; page <= to; page++) {
                pagesArray.push(page);
                }
                return pagesArray;
            }
        },
        updated: function () {
            this.$nextTick(function () {
                this.responsiveImage();
                if(this.dir == "left"){
                    var element2 = document.getElementsByClassName("fadeTest");
                    for (var j = 0 ; j < 2 ; j++){
                        for (var i = 0; i < element2.length; i++) {
                            element2[i].classList.add('animated', 'fadeInLeft');
                            // console.log("nah");
                        }
                    }
                }else if(this.dir == "right"){
                    var element2 = document.getElementsByClassName("fadeTest");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element2.length; i++) {
                            element2[i].classList.add('animated', 'fadeInRight');
                            // console.log("nah");
                        }
                    }
                }
            })
        },
        methods : {
            changePage(page, state) {

                this.dir = state
                if(this.dir == 'left'){
                    var element = document.getElementsByClassName("fadeTest");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element.length; i++) {
                            element[i].classList.add('animated', 'fadeOutRight')
                        }
                    }

                    if($(window).width() < 720){
                        element[(element.length)-1].addEventListener('animationend', () => {
                            this.pagination.blogs.current_page = page;
                            this.getBlogs();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutRight')
                            // }
                        })
                    }else{
                        element[0].addEventListener('animationend', () => {
                            this.pagination.blogs.current_page = page;
                            this.getBlogs();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutRight')
                            // }
                        })
                    }

                    // element[(element.length)-1].addEventListener('animationend', () => {
                    //     this.pagination.blogs.current_page = page;
                    //     this.getBlogs();
                    //     // for (var i = 0; i < element.length; i++) {
                    //     //     element[i].classList.remove('animated', 'fadeOutRight')
                    //     // }
                    // })
                }else if(this.dir == 'right'){
                    var element = document.getElementsByClassName("fadeTest");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element.length; i++) {
                            element[i].classList.add('animated', 'fadeOutLeft')
                        }
                    }
                    if($(window).width() < 720){
                        element[(element.length)-1].addEventListener('animationend', () => {
                            this.pagination.blogs.current_page = page;
                            this.getBlogs();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutLeft')
                            // }
                        })
                    }else{
                        element[0].addEventListener('animationend', () => {
                            this.pagination.blogs.current_page = page;
                            this.getBlogs();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutLeft')
                            // }
                        })
                    }
                    // element[(element.length)-1].addEventListener('animationend', () => {
                    //     this.pagination.blogs.current_page = page;
                    //     this.getBlogs();
                    //     // for (var i = 0; i < element.length; i++) {
                    //     //     element[i].classList.remove('animated', 'fadeOutLeft')
                    //     // }
                    // })
                }
            },
            changeCategory(category){
                let categoryTemp = this.category;
                this.category = category;

                try {
                    this.pagination.blogs.current_page = 1;
                } catch (error) {
                    console.error("belom ada blogsnya");
                }

                // this.dir = 'center';

                let self = this;

                // this.removeFading();
                if(this.category != categoryTemp){
                    self.removeFading().then((resultA) => {
                        // console.log(resultA);
                        this.pagination = null;
                        return self.getBlogs();
                    });
                }


                // this.dir = "center";
                // this.changePage(1, 'right');
                // this.removeFading();
                // this.getBlogs();
            },
            removeFading(){
                return new Promise((resolve, reject) => {
                    var outRight = document.getElementsByClassName("fadeOutRight");
                    // console.log(outRight.length);
                    for (var j = 0; j < 2 ; j++){
                        for (var i = 0; i < outRight.length; i++) {
                            outRight[i].classList.remove('animated', 'fadeOutRight')
                        }
                    }

                    var outLeft = document.getElementsByClassName("fadeOutLeft");
                    // console.log(outLeft.length);
                    for (var j = 0; j < 2 ; j++){
                        for (var i = 0; i < outLeft.length; i++) {
                            outLeft[i].classList.remove('animated', 'fadeOutLeft')
                        }
                    }

                    var inLeft = document.getElementsByClassName("fadeInLeft");
                    // console.log(inLeft.length);
                    for (var j = 0; j < 2 ; j++){
                        for (var i = 0; i < inLeft.length; i++) {
                            inLeft[i].classList.remove('animated', 'fadeInLeft')
                        }
                    }

                    var inRight = document.getElementsByClassName("fadeInRight");
                    // console.log(inRight.length);
                    for (var j = 0; j < 2 ; j++){
                        for (var i = 0; i < inRight.length; i++) {
                            inRight[i].classList.remove('animated', 'fadeInRight')
                        }
                    }
                    resolve('Remove Fading');
                });
            },
            getBlogs() {
                // this.loaded = false;
                // console.log("GetBlog");
                if(this.category == 'Semua'){
                    try {
                        var page = this.pagination.blogs.current_page;
                        var url = '/api/blog?page='.concat(page);
                    } catch (error) {
                        var url = '/api/blog';
                    }
                    // console.log("JALAN SEMUA");
                }else{
                    try {
                        var page = this.pagination.blogs.current_page;
                        var url = '/api/blog/'.concat(this.category).concat("?page=").concat(page);
                        // console.log(url);
                    } catch (error) {
                        var url = '/api/blog/'.concat(this.category);
                    }
                    // console.log("JALAN SPESIFIC");
                }

                // console.log(url);
                axios.get(url)
                    .then((response) => {
                        // alert(this.pagination.blogs.current_page);
                        this.pagination = response.data;
                        this.loaded = true;
                    })
                    .catch(() => {
                        // console.log('handle server error from here');
                    });
            },

            responsiveImage(){
                var div = document.getElementsByClassName("responsive-image-wide-vue");
                for (var i = 0; i < div.length; i++) {
                    var height = parseInt(div[i].offsetWidth) / 1.3;

                    div[i].style.height = height+"px";
                }

                var div = document.getElementsByClassName("responsive-image-extra-wide");
                for (var i = 0; i < div.length; i++) {
                    var height = parseInt(div[i].offsetWidth) / 2.7;

                    div[i].style.height = height+"px";
                }
            },
        },
    }
</script>
