<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <button v-on:click="changeState">test</button>

                    <div v-if="isTest === true">
                        <div class="card-body">
                            I'm an example component.
                        </div>
                    </div>
                    <div v-if="isTest === false">
                        <div class="card-body">
                            I'm an HAHAHA.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function(){
            return{
                isTest: true
            }
        },

        methods:{
            changeState: function(){
                if(this.isTest === true){
                    this.isTest = false;
                }else{
                    this.isTest = true;
                }
            }
        }
    }
</script>
