<template>
<div>
    <div id="pcView">
        <div v-if="loaded" style="height: 100%;">

            <div style="width: 46.8%; margin: auto; margin-bottom: 2vw;">
                <h2 class="Heading3" style="text-align: justify; text-align-last: center;">
                    Lanjutkan Aksi dukungan dengan cara mengikuti quiz ini, Apakah Anda pernah melakukan Kekerasan pada Anak?
                </h2>
                <p class="Description1" style="text-align: justify; text-align-last: center; margin: auto; width: 68.2%;">
                    Hasil quiz akan sangat membantu kampanye ini dalam bentuk survey, partisipasi dan edukasi.
                </p>
                <div style="text-align: center; margin-top: 2vw; list-style: none;">
                    <li class="quizIndicatorContainer" v-for="page in pagesNumber" :key="page" :class="{'active': page <= pagination.quizzes.current_page}" style=" display: inline-block;">
                        <div class="quizPaginationIndicator"></div>
                    </li>
                </div>
            </div>

            <div style="padding-bottom: 4vw;">
                <div class="floating-box shadow" style="margin: auto; width: 79.6%; padding: 4vw 0;">
                    <div style="overflow: hidden; margin: auto; width: 79.6%;">
                        <div class="fadeTest" v-for="quiz in pagination.quizzes.data" :key="quiz.id" style="margin: auto; width: 70%;">
                            <h3 class="Heading3" style="text-align: justify;">{{pagination.quizzes.current_page}}. {{ quiz.question }}</h3>

                            <input type="radio" id="option1" :value="quiz.point1" v-model="answers[pagination.quizzes.current_page-1].answer" :checked="quiz.point2 == answers[pagination.quizzes.current_page-1].answer">
                            <label class="Description1" for="option1"> {{ quiz.option1 }} </label><br>

                            <input type="radio" id="option2" :value="quiz.point2" v-model="answers[pagination.quizzes.current_page-1].answer" :checked="quiz.point2 == answers[pagination.quizzes.current_page-1].answer" >
                            <label class="Description1" for="option2"> {{ quiz.option2 }} </label><br>

                            <input type="radio" id="option3" :value="quiz.point3" v-model="answers[pagination.quizzes.current_page-1].answer" :checked="quiz.point3 == answers[pagination.quizzes.current_page-1].answer">
                            <label class="Description1" for="option3"> {{ quiz.option3 }} </label>

                            <p v-if="(actives[pagination.quizzes.current_page-1].active == true && answers[pagination.quizzes.current_page-1].answer == -1)" class="Description1 text-danger">*Isi quiz untuk melanjutkan</p>
                        </div>
                    </div>

                    <div style="margin-top: 2vw;">
                        <ul v-if="pagination.quizzes.current_page == 1" class="pagination" style="margin: auto; ">
                            <li>
                                <a href="javascript:void(0)" class="btn myBtn shadow" aria-label="Next" v-on:click.prevent="changePage(pagination.quizzes.current_page + 1, 'right')">
                                    Selanjutnya
                                </a>
                            </li>
                        </ul>
                        <ul v-if="pagination.quizzes.current_page > 1 && pagination.quizzes.current_page < pagination.quizzes.last_page" class="pagination" style="margin: auto; ">
                            <li>
                                <a href="javascript:void(0)" class="btn myBtn shadow" style="margin: 0 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.quizzes.current_page - 1, 'left')">
                                    Sebelumnya
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" class="btn myBtn shadow" style="margin: 0 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.quizzes.current_page + 1, 'right')">
                                    Selanjutnya
                                </a>
                            </li>
                        </ul>
                        <ul v-if="pagination.quizzes.current_page == pagination.quizzes.last_page" class="pagination" style="margin: auto; ">
                            <li>
                                <a href="javascript:void(0)" class="btn myBtn shadow" style="margin: 0 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.quizzes.current_page - 1, 'left')">
                                    Sebelumnya
                                </a>
                            </li>
                            <li>
                                <button type="button" class="btn myBtn shadow" data-toggle="modal" data-target="#SubmitQuiz" style="margin: 0 2vw;" v-on:click.prevent="checkAnsweredQuestion()">
                                        Selesai
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div style="margin-top: 1vw;">
                        <p class="Description1" style="text-align: center;">{{pagination.quizzes.current_page}}/{{pagination.quizzes.last_page}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            loading data...
        </div>
    </div>





    <div id="mobileView">
        <div v-if="loaded" style="height: 100%;">
            <div class="container" style="width:82%; max-width: none; padding-bottom: 4vw;">
                <h2 class="Heading3" style="text-align: justify; text-align-last: center; margin-bottom: 4vw;">
                    Lanjutkan Aksi dukungan dengan cara mengikuti quiz ini, Apakah Anda pernah melakukan Kekerasan pada Anak?
                </h2>
                <p class="Description1" style="text-align: justify; text-align-last: center; line-height: 1.2; margin-bottom: 4vw;">
                    Hasil quiz akan sangat membantu kampanye ini dalam bentuk survey, partisipasi dan edukasi.
                </p>
                <div style="text-align: center; margin-top: 2vw; list-style: none; margin-bottom: 4vw;">
                    <li class="quizIndicatorContainer" v-for="page in pagesNumber" :key="page" :class="{'active': page <= pagination.quizzes.current_page}" style=" display: inline-block;">
                        <div class="quizPaginationIndicator"></div>
                    </li>
                </div>
            </div>

            <div class="myContainer">
                <div class="floating-box shadow" style="padding: 6vw 0 2vw;">
                    <div class="floating-box-content">
                        <div style="overflow: hidden;">
                            <div class="fadeTest" v-for="quiz in pagination.quizzes.data" :key="quiz.id">
                                <h3 class="Heading3" style="text-align: justify;">{{pagination.quizzes.current_page}}. {{ quiz.question }}</h3>


                                <input type="radio" id="option1" :value="quiz.point1" v-model="answers[pagination.quizzes.current_page-1].answer" :checked="quiz.point1 == answers[pagination.quizzes.current_page-1].answer">
                                <label class="Description1" for="option1"> {{ quiz.option1 }} </label><br>

                                <input type="radio" id="option2" :value="quiz.point2" v-model="answers[pagination.quizzes.current_page-1].answer" :checked="quiz.point2 == answers[pagination.quizzes.current_page-1].answer">
                                <label class="Description1" for="option2"> {{ quiz.option2 }} </label><br>

                                <input type="radio" id="option3" :value="quiz.point3" v-model="answers[pagination.quizzes.current_page-1].answer" :checked="quiz.point3 == answers[pagination.quizzes.current_page-1].answer">
                                <label class="Description1" for="option3"> {{ quiz.option3 }} </label>

                                <p v-if="(actives[pagination.quizzes.current_page-1].active == true && answers[pagination.quizzes.current_page-1].answer == -1)" class="Description1 text-danger">*Isi quiz untuk melanjutkan</p>

                            </div>
                        </div>

                        <div style="margin-top: 2vw;">
                            <ul v-if="pagination.quizzes.current_page == 1" class="pagination" style="margin: auto; ">
                                <li>
                                    <a href="javascript:void(0)" class="btn myBtn shadow" aria-label="Next" v-on:click.prevent="changePage(pagination.quizzes.current_page + 1, 'right')">
                                        Selanjutnya
                                    </a>
                                </li>
                            </ul>
                            <ul v-if="pagination.quizzes.current_page > 1 && pagination.quizzes.current_page < pagination.quizzes.last_page" class="pagination" style="margin: auto; ">
                                <li>
                                    <a href="javascript:void(0)" class="btn myBtn shadow" style="margin: 0 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.quizzes.current_page - 1, 'left')">
                                        Sebelumnya
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="btn myBtn shadow" style="margin: 0 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.quizzes.current_page + 1, 'right')">
                                        Selanjutnya
                                    </a>
                                </li>
                            </ul>
                            <ul v-if="pagination.quizzes.current_page == pagination.quizzes.last_page" class="pagination" style="margin: auto; ">
                                <li>
                                    <a href="javascript:void(0)" class="btn myBtn shadow" style="margin: 0 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.quizzes.current_page - 1, 'left')">
                                        Sebelumnya
                                    </a>
                                </li>
                                <li>
                                    <button type="button" class="btn myBtn shadow" data-toggle="modal" data-target="#SubmitQuiz" style="margin: 0 2vw;" v-on:click.prevent="checkAnsweredQuestion()">
                                            Selesai
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <div style="margin-top: 1vw;">
                            <p class="Description1" style="text-align: center;">{{pagination.quizzes.current_page}}/{{pagination.quizzes.last_page}}</p>
                        </div>
                    </div>
                </div>
                <div style="height: 4vw;"></div>
            </div>
        </div>

        <div v-else>
            loading data...
        </div>

    </div>

    <!-- ==========================Quiz Modal===================== -->
    <div class="modal fade" id="SubmitQuiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div id="pcView">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="closeSubmitModal" type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; margin-right: 0vw;text-shadow: unset;">
                            <span aria-hidden="true" style="font-size: 3.5vw;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h3 class="Heading3" style="color: white; margin-bottom: 2vw;">
                            Submit dan Hitung Hasil Quiz nya Sekarang?
                        </h3>

                        <a v-if="this.allAnswered == true" href="javascript:void(0)" class="btn myBtn shadow" style="margin-top: 0;" v-on:click.prevent="submitAnswer()">
                                Lihat Hasilnya
                        </a>

                        <a v-if="this.allAnswered == false" href="javascript:void(0)" class="btn myBtn shadow disabled" style="margin-top: 0;" v-on:click.prevent="submitAnswer()">
                                Lihat Hasilnya
                        </a>

                        <p v-if="this.allAnswered == false" class="Description1 text-danger font-weight-bold">*Semua soal harus diisi</p>

                        <button class="btn myBtn shadow" data-dismiss="modal">
                            Periksa Kembali
                        </button>

                        <p class="Description1" style="color: white; line-height: 1.4; margin-top: 2vw; text-align: justify; text-align-last: center;">
                            Hasil quiz ini akan sangat membantu kampanye ini dalam bentuk survey, partisipasi dan edukasi.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div id="mobileView">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="closeSubmitModal" type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white; margin-right: 0vw;text-shadow: unset;">
                            <span aria-hidden="true" style="font-size: 5vw;">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <h3 class="Heading3" style="color: white; margin-bottom: 4vw;">
                            Submit dan Hitung Hasil Quiz nya Sekarang?
                        </h3>

                        <a v-if="this.allAnswered == true" href="javascript:void(0)" class="btn myBtn shadow" style="margin-top: 0;" v-on:click.prevent="submitAnswer()">
                                Lihat Hasilnya
                        </a>

                        <a v-if="this.allAnswered == false" href="javascript:void(0)" class="btn myBtn shadow disabled" style="margin-top: 0;" v-on:click.prevent="submitAnswer()">
                                Lihat Hasilnya
                        </a>

                        <p v-if="this.allAnswered == false" class="Description1 text-danger font-weight-bold">*Semua soal harus diisi</p>

                        <button class="btn myBtn shadow" data-dismiss="modal">
                            Periksa Kembali
                        </button>

                        <p class="Description1" style="color: white; line-height: 1.2; margin-top: 4vw; text-align: justify; text-align-last: center;">
                            Hasil quiz ini akan sangat membantu kampanye ini dalam bentuk survey, partisipasi dan edukasi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import axios from 'axios';
    axios.defaults.headers.common = {
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    };

    export default{
        props: {
            pagination: {
                type: Object,
                required: true
            },
            offset: {
                type: Number,
                default: 20
            },
        },
        data() {
            return{
                dir: 'center',
                errorMessage: '',
                loaded: false,
                answerCreated: false,
                allAnswered: false,
                answers: [],
                actives: [],
                result: 0
            }
        },
        created(){
            this.getQuizzes();
        },
        mounted(){
        },
        computed: {
            pagesNumber() {
                console.log("ngitung");
                if (!this.pagination.quizzes.to) {
                return [];
                }
                let from = this.pagination.quizzes.current_page - this.offset;
                if (from < 1) {
                from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.quizzes.last_page) {
                to = this.pagination.quizzes.last_page;
                }
                let pagesArray = [];
                for (let page = from; page <= to; page++) {
                pagesArray.push(page);
                }
                return pagesArray;
            }
        },
        updated: function () {
            this.responsiveIndicator();
            this.$nextTick(function () {
                if(this.dir == "left"){
                    var element2 = document.getElementsByClassName("fadeTest");
                    for (var j = 0 ; j < 2 ; j++){
                        for (var i = 0; i < element2.length; i++) {
                            element2[i].classList.add('animated', 'fadeInLeft');
                        }
                    }
                }else if(this.dir == "right"){
                    var element2 = document.getElementsByClassName("fadeTest");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element2.length; i++) {
                            element2[i].classList.add('animated', 'fadeInRight');
                        }
                    }
                }
            })
        },
        methods : {
            changePage(page, state) {
                console.log("Change page");
                this.dir = state;

                this.actives[this.pagination.quizzes.current_page-1].active = true;

                if(this.answers[this.pagination.quizzes.current_page-1].answer == -1){
                    return;
                }

                if(this.dir == 'left'){
                    var element = document.getElementsByClassName("fadeTest");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element.length; i++) {
                            element[i].classList.add('animated', 'fadeOutRight')
                        }
                    }
                    if($(window).width() < 720){
                        element[1].addEventListener('animationend', () => {
                            this.pagination.quizzes.current_page = page;
                            this.getQuizzes();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutRight')
                            // }
                        })
                    }else{
                        element[0].addEventListener('animationend', () => {
                            this.pagination.quizzes.current_page = page;
                            this.getQuizzes();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutRight')
                            // }
                        })
                    }

                }else if(this.dir == 'right'){
                    var element = document.getElementsByClassName("fadeTest");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element.length; i++) {
                            element[i].classList.add('animated', 'fadeOutLeft')
                        }
                    }
                    if($(window).width() < 720){
                        element[1].addEventListener('animationend', () => {
                            this.pagination.quizzes.current_page = page;
                            this.getQuizzes();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutLeft')
                            // }
                        })
                    }else{
                        element[0].addEventListener('animationend', () => {
                            this.pagination.quizzes.current_page = page;
                            this.getQuizzes();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutLeft')
                            // }
                        })
                    }
                    // element[(element.length)-1].addEventListener('animationend', () => {
                    //     this.pagination.quizzes.current_page = page;
                    //     this.getQuizzes();
                    //     // for (var i = 0; i < element.length; i++) {
                    //     //     element[i].classList.remove('animated', 'fadeOutLeft')
                    //     // }
                    // })
                }
                console.log("change page kelar");
            },
            removeFading(){
                return new Promise((resolve, reject) => {
                    var outRight = document.getElementsByClassName("fadeOutRight");
                    console.log(outRight.length);
                    for (var j = 0; j < 2 ; j++){
                        for (var i = 0; i < outRight.length; i++) {
                            outRight[i].classList.remove('animated', 'fadeOutRight')
                        }
                    }

                    var outLeft = document.getElementsByClassName("fadeOutLeft");
                    console.log(outLeft.length);
                    for (var j = 0; j < 2 ; j++){
                        for (var i = 0; i < outLeft.length; i++) {
                            outLeft[i].classList.remove('animated', 'fadeOutLeft')
                        }
                    }

                    var inLeft = document.getElementsByClassName("fadeInLeft");
                    console.log(inLeft.length);
                    for (var j = 0; j < 2 ; j++){
                        for (var i = 0; i < inLeft.length; i++) {
                            inLeft[i].classList.remove('animated', 'fadeInLeft')
                        }
                    }

                    var inRight = document.getElementsByClassName("fadeInRight");
                    console.log(inRight.length);
                    for (var j = 0; j < 2 ; j++){
                        for (var i = 0; i < inRight.length; i++) {
                            inRight[i].classList.remove('animated', 'fadeInRight')
                        }
                    }
                    resolve('Remove Fading');
                });
            },
            getQuizzes() {

                console.log("GetQuiz");
                try {
                        var page = this.pagination.quizzes.current_page;
                        var url = '/api/quiz?page='.concat(page);
                    } catch (error) {
                        var url = '/api/quiz';
                    }

                // console.log(url);
                axios.get(url)
                    .then((response) => {
                        this.pagination = response.data;
                    })
                    .catch(() => {
                        console.log('handle server error from here');
                    })
                    .then(() => {
                        this.loaded = true;
                        this.createAnswer();
                    }
                );

            },
            responsiveIndicator() {
                var div = document.getElementsByClassName("quizIndicatorContainer");

                for (var i = 0; i < div.length; i++) {
                    var width = (100.0 / this.pagination.quizzes.last_page);
                    div[i].style.width = width+"%";
                }
            },
            createAnswer(){
                console.log("cobaPush");

                if(this.answerCreated == false){
                    for(var i = 0; i < this.pagination.quizzes.last_page; i++) {
                        this.answers.push({answer: -1});
                        this.actives.push({active: false});
                    }
                }

                this.answerCreated = true;
            },
            submitAnswer(){

                this.answers.forEach(element => {
                    // if(element.answer == -1){
                    //     this.result = 0;
                    //     this.errorMessage = "*Isi quiz untuk melanjutkan";
                    //     var closeSubmitModal = document.getElementById("closeSubmitModal");

                    //     closeSubmitModal.click();

                    //     return;
                    // }
                    this.result += element.answer;
                });

                axios.get('/api/user-score/create/'.concat(this.result))
                    .then((response) => {
                        console.log(response);
                        if(this.result < 51){
                            window.location.href = "/result/malaikat";
                        }else if(this.result >= 51 && this.result <= 80){
                            window.location.href = "/result/lvl1";
                        }else if(this.result > 81){
                            window.location.href = "/result/lvl2";
                        }
                    })
            },
            checkAnsweredQuestion(){

                var flag = false;

                for(var i = 0; i < this.pagination.quizzes.last_page; i++) {
                    if(this.answers[i].answer == -1){
                        flag = true;
                        break;
                    }
                }

                if(flag == true){
                    this.allAnswered = false;
                    this.errorMessage = "*Isi quiz untuk melanjutkan";
                    return;
                }else if(flag == false){
                    this.allAnswered = true;
                }
            }
        },
    }
</script>
