<template>
<div>
    <div id="pcView">
        <div class="fadeTestStop" v-for="item in pagination.items.data" :key="item.id" style="display:block;vertical-align: top;">
            <div style="width: 50%; display: inline-block; vertical-align: top; margin: auto;">
                <div style="overflow: hidden;">
                    <img v-bind:src="'rangkulmereka/storage/app/public/'+item.img_path" style="width: 100%">
                </div>
            </div><div style="width: 50%; display: inline-block; margin: auto;">
                <div style="padding: 2vw 0 0 3.3vw; display: table; width: 100%;">
                    <div style="display: table-cell; vertical-align: middle;">
                        <div v-if="pagination.isAdmin == true">
                            <div style="display: inline-block; width: 50%;">
                                <h1 class="Heading3" style="margin-bottom: 1vw; text-align: left;">{{pagination.items.current_page}}. {{ item.title }}</h1>
                            </div><div style="display: inline-block; width: 50%; text-align: right; ">
                                <a class="AdminBtn EditBtn" :href="'/stop-kekerasan/edit/'+item.id">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="AdminBtn DeleteBtn" :href="'/stop-kekerasan/delete/'+item.id">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                        <div v-else>
                            <h1 class="Heading3" style="margin-bottom: 1vw; text-align: left;">{{pagination.items.current_page}}. {{ item.title }}</h1>
                        </div>
                        <p class="Paragraph2" style="margin-bottom: 0.8vw;text-align: justify;text-justify: inter-word; color: #404041;">{{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center; margin-top: 2vw; list-style: none;">
            <li v-for="page in pagesNumber" :key="page" :class="{'active': page == pagination.items.current_page}" style=" display: inline-block;">
                <button class="paginationIndicator" v-if="page > pagination.items.current_page" v-on:click.prevent="changePage(page, 'right')"></button>
                <button class="paginationIndicator" v-if="page == pagination.items.current_page" v-on:click.prevent="changePage(page, 'right')"></button>
                <button class="paginationIndicator" v-if="page < pagination.items.current_page" v-on:click.prevent="changePage(page, 'left')"></button>
            </li>
        </div>

        <div style="text-align: center;">
            <ul class="pagination" style="margin: auto; ">
                <li v-if="pagination.items.current_page == 1">
                    <a href="javascript:void(0)" class="btn btn-link dirButton disabled" style="font-size: 2vw;" aria-label="Previous" v-on:click.prevent="changePage(pagination.items.current_page - 1, 'left')">
                        <img src="storage/img/asset/LeftIconDisabled.png" style="height: 2vw;">
                    </a>
                </li>
                <li v-if="pagination.items.current_page > 1">
                    <a href="javascript:void(0)" class="btn btn-link dirButton" style="font-size: 2vw;" aria-label="Previous" v-on:click.prevent="changePage(pagination.items.current_page - 1, 'left')">
                        <img src="storage/img/asset/LeftIcon.png" style="height: 2vw;">
                    </a>
                </li>
                <li v-if="pagination.items.current_page < pagination.items.last_page">
                    <a href="javascript:void(0)" class="btn btn-link dirButton" style="font-size: 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.items.current_page + 1, 'right')">
                        <img src="storage/img/asset/RightIcon.png" style="height: 2vw;">
                    </a>
                </li>
                <li v-if="pagination.items.current_page == pagination.items.last_page">
                    <a href="javascript:void(0)" class="btn btn-link dirButton disabled" style="font-size: 2vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.items.current_page + 1, 'right')">
                        <img src="storage/img/asset/RightIconDisabled.png" style="height: 2vw;">
                    </a>
                </li>
            </ul>
        </div>
    </div>







    <div id="mobileView">
        <div class="fadeTestStop" v-for="item in pagination.items.data" :key="item.id">
            <div>
                <div style="overflow: hidden;">
                    <img v-bind:src="'rangkulmereka/storage/app/public/'+item.img_path" style="width: 100%">
                </div>
            </div>
            <div>
                <div style="padding: 2vw 0 0 3.3vw; display: table; width: 100%;">
                    <div style="display: table-cell; vertical-align: middle;">
                        <div>
                            <h1 class="Heading3" style="margin-bottom: 2vw; text-align: center;">{{pagination.items.current_page}}. {{ item.title }}</h1>
                        </div>
                        <p class="Paragraph2" style="margin-bottom: 0.8vw;text-align: justify;text-align-last: center; color: #404041; line-height: 1.2">{{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center; margin-top: 6vw; list-style: none;">
            <li v-for="page in pagesNumber" :key="page" :class="{'active': page == pagination.items.current_page}" style=" display: inline-block;">
                <button class="paginationIndicator" v-if="page > pagination.items.current_page" v-on:click.prevent="changePage(page, 'right')"></button>
                <button class="paginationIndicator" v-if="page == pagination.items.current_page" v-on:click.prevent="changePage(page, 'right')"></button>
                <button class="paginationIndicator" v-if="page < pagination.items.current_page" v-on:click.prevent="changePage(page, 'left')"></button>
            </li>
        </div>

        <div style="text-align: center;">
            <ul class="pagination" style="margin: auto; ">
                <li v-if="pagination.items.current_page == 1">
                    <a href="javascript:void(0)" class="btn btn-link dirButton disabled" style="font-size: 8vw;" aria-label="Previous" v-on:click.prevent="changePage(pagination.items.current_page - 1, 'left')">
                        <img src="storage/img/asset/LeftIconDisabled.png" style="height: 8vw;">
                    </a>
                </li>
                <li v-if="pagination.items.current_page > 1">
                    <a href="javascript:void(0)" class="btn btn-link dirButton" style="font-size: 8vw;" aria-label="Previous" v-on:click.prevent="changePage(pagination.items.current_page - 1, 'left')">
                        <img src="storage/img/asset/LeftIcon.png" style="height: 8vw;">
                    </a>
                </li>
                <li v-if="pagination.items.current_page < pagination.items.last_page">
                    <a href="javascript:void(0)" class="btn btn-link dirButton" style="font-size: 8vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.items.current_page + 1, 'right')">
                        <img src="storage/img/asset/RightIcon.png" style="height: 8vw;">
                    </a>
                </li>
                <li v-if="pagination.items.current_page == pagination.items.last_page">
                    <a href="javascript:void(0)" class="btn btn-link dirButton disabled" style="font-size: 8vw;" aria-label="Next" v-on:click.prevent="changePage(pagination.items.current_page + 1, 'right')">
                        <img src="storage/img/asset/RightIconDisabled.png" style="height: 8vw;">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</template>

<script>
    import axios from 'axios';
    axios.defaults.headers.common = {
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
    };

    export default{
        props: {
            pagination: {
                type: Object,
                required: true
            },
            offset: {
                type: Number,
                default: 7
            },
        },
        data: {
            dir: 'center',
        },
        created(){
            this.getStopKekerasans();
        },
        mounted(){
            window.addEventListener('resize', () => {
                this.responsiveImage();
            });
        },
        computed: {
            pagesNumber() {
                if (!this.pagination.items.to) {
                return [];
                }
                let from = this.pagination.items.current_page - this.offset;
                if (from < 1) {
                from = 1;
                }
                let to = from + (this.offset * 2);
                if (to >= this.pagination.items.last_page) {
                to = this.pagination.items.last_page;
                }
                let pagesArray = [];
                for (let page = from; page <= to; page++) {
                pagesArray.push(page);
                }
                return pagesArray;
            }
        },
        updated: function () {
            this.$nextTick(function () {
                this.responsiveImage();
                if(this.dir == "left"){
                    var element2 = document.getElementsByClassName("fadeTestStop");
                    for (var j = 0 ; j < 2 ; j++){
                        for (var i = 0; i < element2.length; i++) {
                            element2[i].classList.add('animated', 'fadeInLeft');
                            // console.log("nah");
                        }
                    }
                }else if(this.dir == "right"){
                    var element2 = document.getElementsByClassName("fadeTestStop");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element2.length; i++) {
                            element2[i].classList.add('animated', 'fadeInRight');
                            // console.log("nah");
                        }
                    }
                }
            })
        },
        methods : {
            changePage(page, state) {

                this.dir = state

                if(this.dir == 'left'){
                    var element = document.getElementsByClassName("fadeTestStop");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element.length; i++) {
                            element[i].classList.add('animated', 'fadeOutRight')
                        }
                    }

                    if($(window).width() < 720){
                        element[(element.length)-1].addEventListener('animationend', () => {
                            this.pagination.items.current_page = page;
                            this.getStopKekerasans();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutRight')
                            // }
                        })
                    }else{
                        element[0].addEventListener('animationend', () => {
                            this.pagination.items.current_page = page;
                            this.getStopKekerasans();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutRight')
                            // }
                        })
                    }

                    // element[(element.length)-1].addEventListener('animationend', () => {
                    //     this.pagination.items.current_page = page;
                    //     this.getStopKekerasans();
                    //     // for (var i = 0; i < element.length; i++) {
                    //     //     element[i].classList.remove('animated', 'fadeOutRight')
                    //     // }
                    // })
                }else if(this.dir == 'right'){
                    var element = document.getElementsByClassName("fadeTestStop");
                    for (let j = 0; j < 2; j++) {
                        for (var i = 0; i < element.length; i++) {
                            element[i].classList.add('animated', 'fadeOutLeft')
                        }
                    }

                    if($(window).width() < 720){
                        element[(element.length)-1].addEventListener('animationend', () => {
                            this.pagination.items.current_page = page;
                            this.getStopKekerasans();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutRight')
                            // }
                        })
                    }else{
                        element[0].addEventListener('animationend', () => {
                            this.pagination.items.current_page = page;
                            this.getStopKekerasans();
                            // for (var i = 0; i < element.length; i++) {
                            //     element[i].classList.remove('animated', 'fadeOutRight')
                            // }
                        })
                    }

                    // element[(element.length)-1].addEventListener('animationend', () => {
                    //     this.pagination.items.current_page = page;
                    //     this.getStopKekerasans();
                    //     // for (var i = 0; i < element.length; i++) {
                    //     //     element[i].classList.remove('animated', 'fadeOutLeft')
                    //     // }
                    // })
                }
            },
            getStopKekerasans() {
                try {
                    var page = this.pagination.items.current_page;
                    var url = '/api/stop-kekerasan?page='.concat(page);
                } catch (error) {
                    var url = '/api/stop-kekerasan';
                }
                // console.log("JALAN SEMUA");

                // console.log(url);
                axios.get(url)
                    .then((response) => {
                        this.pagination = response.data;
                    })
                    .catch(() => {
                        // console.log('handle server error from here');
                    });
            },

            responsiveImage(){
                var div = document.getElementsByClassName("responsive-image-wide-vue");
                for (var i = 0; i < div.length; i++) {
                    var height = parseInt(div[i].offsetWidth) / 1.75;

                    div[i].style.height = height+"px";
                }

                var div = document.getElementsByClassName("responsive-image-extra-wide");
                for (var i = 0; i < div.length; i++) {
                    var height = parseInt(div[i].offsetWidth) / 2.7;

                    div[i].style.height = height+"px";
                }
            }
        },
    }
</script>
