#mobileView{
    display: none !important;
}

@media screen and (max-width: 720px) {

    /* ===========================Sec 1======================== */

    /* #Sec1{
        padding: 0 !important;
    }

    #Sec1Left{
        display: block !important;
        width: fit-content !important;
        margin: auto;
    }

    #Sec1LeftImg{
        transform: none !important;
        width: unset !important;
        height: 80vw !important;
        margin: auto;
        text-align: center;
    }

    #Sec1Right{
        background-color: #0E5A89;
        display: block !important;
        width: 100% !important;
        transform: none !important;
    } */

    /* ============================Sec 2=========================== */


    /* ============================Sec 1&2========================= */

    /* #Sec12Container{
        margin: 0 !important;
        padding: 0 !important;
        width: 100% !important;
    } */

    #pcView{
        display: none !important;
    }

    #mobileView{
        display: block !important;
    }
}